services:
  db:
    image: postgres:14
    container_name: stockquote-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - stockquote_pgdata:/var/lib/postgresql/data

volumes:
  stockquote_pgdata:
