.trader-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trader-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 16px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 10px;
}

.trader-item__name {
  font-weight: 600;
}

.trader-item__id {
  font-size: 12px;
  color: #666;
}

.dashboard {
  background-color: #F5F7FA;
  padding-left: 56px * 2;
  padding-right: 56px;
  padding-top: 112px;
  height: 100vh;

  .title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 24px;
  }
}